//- #raw
//- 	#left
//- 		raw(data="data.acc", sensor="'acc'")
//- 			h2 Accelerometer
//- 			#chart.acc

//- 		raw(data="data.lac", sensor="'lac'")
//- 			h2 Linear Acceleration
//- 			#chart.lac

//- 		raw(data="data.gra", sensor="'gra'")
//- 			h2 Gravity
//- 			#chart.gra

//- 	#right
//- 		map(data="data")
//- 		#map
//- 		#legend



#raw
	map(data="data")
		#legend
		#map

	raw(data="data.acc", sensor="'acc'")
		h2 Accelerometer
		#chart.acc

	raw(data="data.lac", sensor="'lac'")
		h2 Linear Acceleration
		#chart.lac

	raw(data="data.gra", sensor="'gra'")
		h2 Gravity
		#chart.gra

// ex:ft=jade
