har-map(data="data")
	#map
	#legend

raw-chart(data="data.acc")
	h2 Accelerometer
	#chart

raw-chart(data="data.lac")
	h2 Linear Acceleration
	#chart

raw-chart(data="data.gra")
	h2 Gravity
	#chart

// ex:ft=jade
