// ex:ft=jade

h1 RAW DATA

#chart
	svg

//- nvd3-line-chart
//-   data="exampleData"
//- 	width="600"
//- 	height="350"
//- 	showXAxis="true"
//- 	showYAxis="true"
//- 	xAxisTickFormat="xAxisTickFormat_Date_Format()"
//- 	yAxisTickFormat="yAxisFormatFunction()"