//- p Showing {{ trips.length }} trips

table.table.table-hover
  thead
    tr
      th
        a(ng-click="sort='trip_id'; reverse=!reverse") id
      th
        a(ng-click="sort='user_id'; reverse=!reverse") user
      th
        a(ng-click="sort='start_ts'; reverse=!reverse") start
      th
        a(ng-click="sort='duration'; reverse=!reverse") duration
      th
        a tags
      th
        a description
      th

      tbody
        tr(ng-repeat="trip in trips | orderBy:'trip_id':reverse")
          td {{ trip.trip_id }}
          td {{ trip.user_id }}
          td {{ trip.start_ts | date:'yyyy-MM-dd HH:mm:ss Z' }}
          td {{ trip.start_ts | duration:trip.stop_ts | date:'HH:mm:ss' }}
          td
          td {{ trip.name }}
          td
            a(ng-click="destroy(trip.trip_id)")
              button.close(type="submit", aria-hidden="true") &times;

// ex:ft=jade
