




/*   GLOBAL   */

// mind the navbar
body
	padding-top 50px

// little triangles to indicate table sorting
.triangle
	font-size 0.8em
	color #428bca

// angular strap modal
.modal-backdrop.am-fade
	opacity .5
	transition opacity .15s linear
	&.ng-enter
		opacity 0
		&.ng-enter-active
			opacity .5
	&.ng-leave
		opacity .5
		&.ng-leave-active
			opacity 0






/*   REC TABLE   */

tr.selected
	background-color lighten(gold, 70%)

tr.selected:hover
	background-color lighten(gold, 50%)

a.trip-indicator
	color indianred !important

a.trip-indicator.selected
	color gold !important

tbody tr:hover
	background-color lighten(rgb(66, 139, 202), 90%)

td.name // editable
	width 200px

td.destroy
	text-align center
	font-weight bold
	color indianred
	width 2.2em

td.destroy:hover
	background-color indianred
	color white

li.disabled
	a.red
		color indianred !important





/*   RAW DATA VIEW   */

BORDER_SIZE = 24px

#raw
	margin BORDER_SIZE

#left
	display table-cell
	width 100% // min-width?
	white-space nowrap
	padding 0 BORDER_SIZE 0 0

#right
	display table-cell
	min-width 500px
	vertical-align top

#map
	height 500px
	width 100%

.legend
	line-height 18px
	color #555
	background white
	padding 8px

.legend i
	width 18px
	height 18px
	float left
	margin-right 8px
	opacity 0.7

raw
	&h2
		width 100%
		background-color #ccc
		padding-top BORDER_SIZE





/*   D3 CHARTS   */

svg
	font 10px sans-serif

.axis path,
.axis line
	fill none
	stroke #000
	shape-rendering crispEdges

.x.axis path
	display none

.line
	stroke black
	stroke-width 0.75px
	fill none
	&.line1
		stroke crimson
	&.line2
		stroke dodgerblue

.brush .extent
	stroke #fff
	fill-opacity .125
	shape-rendering crispEdges
