body {
  padding-top: 50px; // menu bar
}

.triangle {
  font-size: 0.8em;
  color: #428bca;
}

#raw-data {
  height: 400px;
  width: 96%;
  margin: 0 auto;
}

#map {
  height: 400px;
}

svg {
  font: 10px sans-serif;
}

path {
  fill: #4682b4;
}

/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 0.75px;
}
.line.line0 {
  stroke: #4682b4;
}
.line1 {
  stroke: #cd5c5c;
}
.line2 {
  stroke: #2e8b57;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}*/
