#raw
  //- map(data="data.geo")
  //-   #map

  pre


    | domain x: {{ $root.trips[$root.trip.idx].domain.x }} {{ $root.trips[$root.trip.idx].domain.x[0] | date:'HH:mm:ss' }} {{ $root.trips[$root.trip.idx].domain.x[1] | date:'HH:mm:ss' }} {{$root.trips[$root.trip.idx].domain.x[0] | duration:$root.trips[$root.trip.idx].domain.x[1] | date:'HH:mm:ss'}}
    | domain y: {{ $root.trips[$root.trip.idx].domain.y }}
    | extent: {{ $root.trip.extent }} {{ $root.trip.extent[0] | date:'HH:mm:ss' }} {{ $root.trip.extent[1] | date:'HH:mm:ss' }} {{ $root.trip.extent[0] | duration:$root.trip.extent[1] | date:'HH:mm:ss' }} {{ ((($root.trip.extent[1] - $root.trip.extent[0]) / ($root.trips[$root.trip.idx].domain.x[1] - $root.trips[$root.trip.idx].domain.x[0])) * 100).toFixed(2) }}% {{ $root.trip.extent[1] - $root.trip.extent[0] }}
    | acc: {{ $root.trips[$root.trip.idx].acc.length }} {{ $root.trips[$root.trip.idx].acc.updates }}
    | gra: {{ $root.trips[$root.trip.idx].gra.length }} {{ $root.trips[$root.trip.idx].gra.updates }}
    | lac: {{ $root.trips[$root.trip.idx].lac.length }} {{ $root.trips[$root.trip.idx].lac.updates }}

  brush(extent="$root.trip.extent", domain="$root.trips[$root.trip.idx].domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)")
  chart(data="data.gra" extent="$root.trip.extent", domain="$root.trips[$root.trip.idx].domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)")
  chart(data="data.acc" extent="$root.trip.extent", domain="$root.trips[$root.trip.idx].domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)")
  chart(data="data.lac" extent="$root.trip.extent", domain="$root.trips[$root.trip.idx].domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)")

// ex:ft=jade
