table#rec.table
	thead
		tr
			th
				a(ng-click="predicate='trip_id'; reverse=!reverse") id
			th
				a(ng-click="predicate='user_id'; reverse=!reverse") user
			th
				a(ng-click="predicate='start_ts'; reverse=!reverse") start
			th
				a(ng-click="predicate='duration'; reverse=!reverse") duration
			th
				a(ng-click="predicate='tags'; reverse=!reverse") tags
			th
				a(ng-click="predicate='name'; reverse=!reverse") name
			th

			tbody
				tr(ng-repeat="trip in trips | orderBy:predicate:reverse", ng-class='{selected:rec.is(trip)}')
					td(ng-click="rec.select(trip)", ng-dblclick="rec.select(trip); rec.to('/raw')") {{ trip.trip_id }}
					td(ng-click="rec.select(trip)", ng-dblclick="rec.select(trip); rec.to('/raw')") {{ trip.user_id }}
					td(ng-click="rec.select(trip)", ng-dblclick="rec.select(trip); rec.to('/raw')") {{ trip.start_ts | date:'yyyy-MM-dd HH:mm:ss Z' }}
					td(ng-click="rec.select(trip)", ng-dblclick="rec.select(trip); rec.to('/raw')") {{ trip.duration | date:'HH:mm:ss.sss' }}
					td
					td.name(editable-text="trip.name", onaftersave="rec.updateName(trip, $data)", buttons="no", e-style="width: 200px; height: 37px") {{ trip.name }}
					td.destroy(ng-click="rec.destroy(trip)") DEL

// ex:ft=jade
