<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>ServletTest</display-name>
    <servlet>
        <servlet-name>ServletTest</servlet-name>
        <display-name>ServletTest</display-name>
        <description>For interernal testing</description>
        <servlet-class>net.hh.test.ServletTest</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletTest</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JmxMiniConsoleServlet</servlet-name>
        <servlet-class>
            org.jminix.console.servlet.MiniConsoleServlet
        </servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>JmxMiniConsoleServlet</servlet-name>
        <url-pattern>/jmx/*</url-pattern>
    </servlet-mapping>
</web-app>
