doctype html

html(lang="en", ng-app="inspectionFrontEnd")
  head
    meta(charset="utf-8")
    title= title

    //- base(href="/")

    meta(name="google" content="notranslate")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    //- To ensure CSS files are downloaded in parallel, always include
    //- external CSS before external JavaScript.

    link(href="/lib/leaflet-dist/leaflet.css", rel="stylesheet")
    link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/lib/angular-xeditable/dist/css/xeditable.css", rel="stylesheet")
    //- link(href='http://fonts.googleapis.com/css?family=Roboto:400,600', rel='stylesheet', type='text/css')
    link(href="/app/css/001.css", rel="stylesheet")

    script(src="/lib/angular/angular.min.js")

  body
    header
      nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation" ng-controller="navCtrl as nav")
        ul.nav.navbar-nav
          li(ng-class='{active:nav.is("rec")}')
            a(href="/#/rec") Recordings
          li(ng-class='{active:nav.is("raw"), disabled:!$root.trip.id}')
            a(href="/#/raw") Raw Data
          li(ng-class='{active:nav.is("har"), disabled:!$root.trip.id}')
            a(href="/#/har") Activity Recognition

        ul.nav.navbar-nav.pull-right
          li(ng-class="{'hidden':!$root.trip.id}", ng-click="nav.deselectTrip()")
            a.clear-button Deselect Trip
          li(ng-class="{'hidden':!$root.trip.brush}", ng-click="nav.clearBrush()")
            a.clear-button Clear Brush
          li(ng-class="{'hidden':!$root.trip.brush}", ng-click="nav.loadMoreData()")
            a.clear-button Load More Data
          li(ng-class="{'hidden':!$root.trip.brush}")
            a {{ $root.trip.brush[0] | date:'HH:mm' }} — {{ $root.trip.brush[1] | date:'HH:mm' }} ({{ $root.trip.brush[0] | duration:$root.trip.brush[1] | date:'mm' }} minutes)
          li
            a.trip-indicator(ng-class="{'selected':$root.trip.id}") {{ $root.trip.id || "PLEASE SELECT A TRIP" }}
  
    #body
      div(ng-view)

  //- Angular
  script(src="/lib/angular-resource/angular-resource.js")
  script(src="/lib/angular-route/angular-route.js")
  script(src="/lib/angular-xeditable/dist/js/xeditable.js")
  script(src="/lib/d3/d3.js")
  script(src="/lib/geojson-utils.js") // FIXME
  script(src="/lib/jquery/dist/jquery.js")
  script(src="/lib/leaflet-dist/leaflet.js")
  script(src="/lib/moment/min/moment.min.js")

  //- Angular Application
  script(src="/app/js/reusable/chart.js")
  script(src="/app/js/reusable/brush.js")
  //- script(src="/app/js/reusable/map.js")
  script(src="/app/js/modules.js")
  script(src="/app/js/controllers.js")
  script(src="/app/js/directives.js")
  script(src="/app/js/filters.js")
  script(src="/app/js/services.js")
  script(src="/app/js/routes.js")
    
// ex:ft=jade
