.DS_Store

*.css
*.css.map
.sass-cache

bower_components
node_modules
npm-debug.log

*sublime-*
.idea
*.swp

.trash

*.tar.gz
*.tar.bz2

*.log

public/js/components/*.js
public/js/components/.module-cache