.DS_Store

npm-debug.log
node_modules
bower_components

client/public/css/*.css


doc

trash
.trash

.important

.idea
NodeAngularFrontEnd.sublime-*
*.css
*.css.map
.sass-cache

server/node_modules
client/public/lib
client/public/css/style.css
npm-debug.log
_trash
