@mixin unselectable {
  // make table cells unclickable to allow double clicking without selecting anything
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

$color1: #fece09;
$color2: #0b66ff;

/*   GLOBAL   */

body {
  padding-top: 50px;
  // font-family: 'Roboto' sans-serif;
  -webkit-font-smoothing: antialiased;
}

// .triangle {
//   font-size: 0.8em;
//   color: #428bca;
// }

/*   REC TABLE   */


// a.trip-indicator {
//   color: #cd5c5c !important;
//   &.selected {
//     color: #ffd700 !important;
//   }
// }

tbody {
  tr {
    &:hover {
      // table row, hovered
      background-color: lighten($color2, 45%);
    }
    &.selected {
      // selected table row
      background-color: lighten($color1, 45%);
      &:hover {
        // selected table row, hovered
        background-color: lighten($color1, 35%);
      }
    }
  }
  td {
    @include unselectable;
    // the x-editable 'name' column
    &.name {
      width: 200px;
    }
    &.hasData {
      background-color: #c4ffc2;
    }
    // the 'del' button on the far right
    &.destroy {
      text-align: center;
      font-weight: bold;
      color: #cd5c5c;
      width: 2.2em;
      &:hover {
        background-color: #cd5c5c;
        color: #fff;
      }
    }
  }
}


// li.disabled a.red {
//   color: #cd5c5c !important;
// }


// /*   RAW DATA VIEW   */

// #raw {
//   margin: 24px;
// }

// #left {
//   display: table-cell;
//   width: 100%;
//   white-space: nowrap;
//   padding: 0 24px 0 0;
// }

// #right {
//   display: table-cell;
//   min-width: 500px;
//   vertical-align: top;
// }

// #map {
//   height: 384px;
//   width: 100%;
// }

// .legend {
//   line-height: 18px;
//   color: #555;
//   background: #fff;
//   padding: 8px;
//   i {
//     width: 18px;
//     height: 18px;
//     float: left;
//     margin-right: 8px;
//     opacity: 0.7;
//   }
// }

// rawh2 {
//   width: 100%;
//   background-color: #ccc;
//   padding-top: 24px;
// }

/*   HAR VIEW   */

// #har {
//   margin: 24px;
//   #map {
//     height: 768px;
//   }
// }

/*   D3 CHARTS   */

svg {
  font: 12px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #777;
}

// .x.axis path {
//   display: none;
// }

.line {
  stroke: #000;
  stroke-width: 0.75px;
  fill: none;
}

.line1 {
  stroke: #dc143c;
}

.line2 {
  stroke: #1e90ff;
}

// .brush {
//   // background-color: #e6e6e6;
//   fill: none;
// }

// .brush .extent {
//   stroke: #fff;
//   fill-opacity: .125;
//   shape-rendering: crispEdges;
// }

// .area {
//   // fill: steelblue;
//   clip-path: url(#clip);
// }


// .brush .resize {
//   color: black;
// }


// brush {
//   width: 100%;
//   fill: none;
// }

// .area {
//   fill: steelblue;
//   clip-path: url(#clip);
// }

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

// brush {
//   fill: none;
//   clip-path: url(#clip);
// }

pre {
  padding: 8px;
  margin: 8px;
}

.brush {
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.brush .extent {
  stroke: darken(#f5f5f5, 30%);
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}






/* debug */

// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }

