doctype html

html(lang="en", ng-app="nodeInspectionFrontEnd")
	head
		meta(charset="utf-8")
		title= title

		//- base(href="/")

		meta(name="google" content="notranslate")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		//- http://www.movable-type.co.uk/scripts/latlong.html
		script(src="/lib/geojson-utils.js")

		//- jQuery
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")

		//- Moment
		script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")

		//- D3
		script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js")

		//- Leaflet
		script(src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js")
		link(rel="stylesheet", href="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")

		//- Angular
		script(src="/lib/angular-1.2.12/angular.js")
		script(src="/lib/angular-1.2.12/angular-resource.js")
		script(src="/lib/angular-1.2.12/angular-route.js")
		script(src="/lib/angular-1.2.12/angular-animate.js")
		script(src="/lib/angular-1.2.12/angular-sanitize.js")

		//- Bootstrap
		//- script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", rel="stylesheet")

		//- Angular-xeditable
		link(href="/lib/angular-xeditable/dist/css/xeditable.css", rel="stylesheet")
		script(src="/lib/angular-xeditable/dist/js/xeditable.js")

		//- Angular Strap
		script(src="/lib/angular-strap/dist/angular-strap.min.js")
		script(src="/lib/angular-strap/dist/angular-strap.tpl.min.js")

		//- Angular Motion (required by Angular Strap)
		link(href="/lib/angular-motion/dist/angular-motion.min.css", rel="stylesheet")

		//- Angular Application
		script(src="/app/js/modules.js")
		script(src="/app/js/controllers.js")
		script(src="/app/js/routes.js")
		script(src="/app/js/services.js")
		script(src="/app/js/filters.js")
		script(src="/app/js/directives/chart.js")
		script(src="/app/js/directives/map.js")

		//- Stylesheets
		link(rel="stylesheet", href="/app/css/001.css")

		body
			header
				nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation" ng-controller="navbarCtrl" bs-navbar)
					ul.nav.navbar-nav

						li(data-match-route="/rec")
							a(href="/#/rec") Recordings
						li(data-match-route="/raw", ng-class="{'disabled':!trip}")
							a(href="/#/raw") Raw Data
						li(data-match-route="/har", ng-class="{'disabled':!trip}")
							a(href="/#/har") Activity Recognition

					ul.nav.navbar-nav.pull-right
						li
							a.trip-indicator(ng-class="{'selected':trip}") {{ trip.trip_id || "PLEASE SELECT A TRIP" }}
		#body
			div(ng-view)

// ex:ft=jade
