#har

  .container-fluid
    .row
      .col-xs-12
        table.table
          thead
            tr
              th id
              th user
              th date
              th duration
              th tags
              th name
              th
              th
              th
              th

              tbody
                tr
                  td.id {{ trip.id }}
                  td.user {{ trip.user }}
                  td.date {{ trip.start | date:'yyyy-MM-dd HH:mm:ss' }}
                  td.duration {{ trip.duration | date:'HH:mm:ss' }}
                  td.tags
                    input(type='text', ng-model='trip.tags', ng-change="ctrl.update(trip, {tags: trip.tags})", placeholder='no tags')
                  td.name
                    input(type='text', ng-model='trip.name', ng-change="ctrl.update(trip, {name: trip.name})", placeholder='no name')
                  td.button(ng-click="ctrl.loadMoreData()") LOAD MORE DATA
                  td.button(ng-click="ctrl.download()") EXPORT ALL
                  td.button.reset(ng-click="ctrl.reset(trip)") RESET
                  td.button.delete(ng-click="ctrl.delete(trip)") DELETE
    .row
      .col-xs-12
        map(trip="trip")
          #map
    .row
      .col-xs-12
        #brush
          .panel.panel-default
            .panel-heading
              h4.panel-title
                &nbsp;
                span(ng-if="trip.extent.length").pull-right {{ trip.extent[0] | duration:trip.extent[1] | date:'HH:mm:ss' }}
            #gra.panel-collapse.collapse.in
              .panel-body
                brush(trip="trip", update-Extent="updateExtent(args)", load-More-Data="loadMoreData(args)")

    #charts.panel-group.row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            h4.panel-title(data-toggle='collapse', data-parent='#charts', data-target='#gra') Gravity
              span.pull-right {{ trip.data.sensors.gra.length }}
              span.legend.pull-right
                span.legend.x x
                span.legend.y y
                span.legend.z z
              span.pull-right
                a(ng-href="./trips/{{trip.id}}/gra.csv", download='livegov-trip-{{trip.id}}-sensor-gra.csv') export
          #gra.panel-collapse.collapse.in
            .panel-body
              chart.gra(trip="trip", update-Extent="updateExtent(args)", load-More-Data="loadMoreData(args)")

        .panel.panel-default
          .panel-heading
            h4.panel-title(data-toggle='collapse', data-parent='#charts', data-target='#acc') Acceleration
              span.pull-right {{ trip.data.sensors.acc.length }}
              span.legend.pull-right
                span.legend.x x
                span.legend.y y
                span.legend.z z
              span.pull-right
                a(ng-href="./trips/{{trip.id}}/acc.csv", download='livegov-trip-{{trip.id}}-sensor-acc.csv') export
          #acc.panel-collapse.collapse.in
            .panel-body
              chart.acc(trip="trip", update-Extent="updateExtent(args)", load-More-Data="loadMoreData(args)")

        .panel.panel-default
          .panel-heading
            h4.panel-title(data-toggle='collapse', data-parent='#charts', data-target='#lac') Linear Acceleration
              span.pull-right {{ trip.data.sensors.lac.length }}
              span.legend.pull-right
                span.legend.x x
                span.legend.y y
                span.legend.z z
              span.pull-right
                a(ng-href="./trips/{{trip.id}}/lac.csv", download='livegov-trip-{{trip.id}}-sensor-lac.csv') export
          #lac.panel-collapse.collapse.in
            .panel-body
              chart.lac(trip="trip", update-Extent="updateExtent(args)", load-More-Data="loadMoreData(args)")

// ex:ft=jade
