div(ng-controller="tripCtrl as ctrl")

  div.btn-group
    a.btn.btn-default.btn-sm(ng-click='ctrl.select()', ng-class='{disabled:ctrl.selected()}') deselect trip
    a.btn.btn-default.btn-sm(ng-click='hasDuration = !hasDuration', ng-class='{active:hasDuration}') has duration
    a.btn.btn-default.btn-sm(ng-click='hasLove = !hasLove', ng-class='{active:hasLove}') has love
    a.btn.btn-default.btn-sm(ng-click='hasData = !hasData', ng-class='{active:hasData}') has data
    a.btn.btn-default.btn-sm(ng-click='hasName = !hasName', ng-class='{active:hasName}') has name

  table#rec.table
    thead
      tr
        th
          a(ng-click="predicate='id'; reverse=!reverse") id
        th
          a(ng-click="predicate='user'; reverse=!reverse") user
        th
          a(ng-click="predicate='start'; reverse=!reverse") start
        th
          a(ng-click="predicate='duration'; reverse=!reverse") duration
        th
          a(ng-click="predicate='tags'; reverse=!reverse") tags
        th
          a(ng-click="predicate='name'; reverse=!reverse") name
        th

        tbody
          tr(ng-repeat="trip in trips | orderBy:predicate:reverse", ng-class='{selected:ctrl.selected(trip)}', ng-hide="(hasData && !ctrl.hasData(trip)) || (hasDuration && !ctrl.hasDuration(trip)) || (hasLove && !ctrl.hasLove(trip)) || (hasName && !ctrl.hasName(trip))")
            td(ng-click="ctrl.select(trip); ctrl.to('raw', trip)", ng-class='{hasData:ctrl.hasData(trip)}', title='data amount: {{ctrl.hasData(trip)}}') {{ trip.id }}
            td(ng-click="ctrl.select(trip); ctrl.to('raw', trip)") {{ trip.user }}
            td(ng-click="ctrl.select(trip); ctrl.to('raw', trip)") {{ trip.start | date:'yyyy-MM-dd HH:mm:ss' }}
            td(ng-click="ctrl.select(trip); ctrl.to('raw', trip)") {{ trip.duration | date:'HH:mm:ss' }}
            td
            td
              input(type='text', ng-model='trip.name', ng-change="ctrl.update(trip, {name: trip.name})", placeholder='no name')
            td.delete(ng-click="ctrl.delete(trip)") DEL

// ex:ft=jade
