#raw
  //- map(data="data.geo")
  //-   #map

  pre
    | domain x: {{ trip.domain.x }} {{ trip.domain.x[0] | date:'HH:mm:ss' }} {{ trip.domain.x[1] | date:'HH:mm:ss' }} {{trip.domain.x[0] | duration:trip.domain.x[1] | date:'HH:mm:ss'}}
    | domain y: {{ trip.domain.y }}
    | extent: {{ trip.extent }} {{ trip.extent[0] | date:'HH:mm:ss' }} {{ trip.extent[1] | date:'HH:mm:ss' }} {{ trip.extent[0] | duration:trip.extent[1] | date:'HH:mm:ss' }} {{ (((trip.extent[1] - trip.extent[0]) / (trip.domain.x[1] - trip.domain.x[0])) * 100).toFixed(2) }}% {{ trip.extent[1] - trip.extent[0] }}
    | acc: {{ trip.data.sensors.acc.length }}
    | gra: {{ trip.data.sensors.gra.length }}
    | lac: {{ trip.data.sensors.lac.length }}

  raw
    brush.bru(extent="trip.extent", domain="trip.domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)")
    chart.gra(extent="trip.extent", domain="trip.domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)", data="trip.data.sensors.gra")
    chart.acc(extent="trip.extent", domain="trip.domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)", data="trip.data.sensors.acc")
    chart.lac(extent="trip.extent", domain="trip.domain", on-Brush-Extent="onBrushExtent(args)", load-More-Data="loadMoreData(args)", data="trip.data.sensors.lac")

// ex:ft=jade
